.card {
  width: 40%;
  border-radius: 8px;
  background-color: rgb(252, 252, 252);
  margin: 20px auto;
  padding: 20px 0 60px 0;
  box-shadow: 1px 1px 10px rgb(134, 134, 134);
  text-align: center;
}
h3 {
  text-align: start;
  margin-left: 15px;
}
.icon {
  font-size: 14px;
  color: #e9433a;
  text-shadow: 5px 10px #e9433a;
}
